In [10]:
# pip install tabulate 해야함 !!
# tabulate 라이브러리는 ide에서 사용할 떄 적용
# 주피터나 코랩에서는 그냥 print하면 됨
import pandas as pd
from tabulate import tabulate
import re


# tabulate 라이브러리 사용해서 로컬에서 print 대신 print_df 함수 사용해서 Jupyter notebook 처럼 보기
def print_df(d):
    print(tabulate(d, headers='keys', tablefmt='psql'))


def date_preprocess(d):
    d['date'] = d['date'].apply(lambda x: re.sub('[./]', '', x))
    return d


finance_news = pd.read_excel('naver_finance_news.xlsx', usecols=[2, 0])
finance_news = date_preprocess(finance_news)

naver_news = pd.read_excel('naver_news.xlsx')
naver_news = date_preprocess(naver_news)

report = pd.read_excel('report.xlsx')
report = date_preprocess(report)


df = naver_news.append(finance_news, ignore_index=True)
df = df.append(report, ignore_index=True)
df = df.sort_values('date', ignore_index=True)


# 날짜 중복삭제 & title 합치기
def eliminate_dup_date(d, new_d):
    for date, tit, dup in d.values:
        if not dup:
            new_d = new_d.append(pd.Series([date, tit], index=new_d.columns), ignore_index=True)
        else:
            new_d.iloc[-1, -1] = new_d.iloc[-1, -1] + ', ' + tit
    return new_d


# df에 중복 여부 컬럼 추가
df['duplicated'] = df.duplicated(['date'])
print(df.tail(10))

res = eliminate_dup_date(df, pd.DataFrame(columns=['date', 'title']))
print(res.tail(10))

# date 열 datetime 형식으로 변경하고 인덱스 지정
res['date'] = pd.to_datetime(res['date'], format='%Y%m%d').dt.normalize()
res = res.set_index('date')
print(res.tail(10))

# 중복 제거 전후 데이터셋의 크기 비교
print(f'중복 데이터셋의 크기: {len(df)}, 중복 제거한 데이터셋의 크기: {len(res)}')
print(df.date.unique())

           date                                       title  duplicated
16993  20220601                 '삼성효과' 걷어내니…더 돋보인 손해보험사의 진격        True
16994  20220601  삼성·SK 공장 있는 곳이라…경기지사 선거도 뜨거운 ‘반도체 전쟁’ [...        True
16995  20220601  삼성전자 주가 대체 어디로 "경영진도 근심 가득"…6만원까지 또 미끄러...        True
16996  20220601             삼성 세탁기·건조기 신제품 동시구매시 최대 20만원 할인        True
16997  20220601     "선곡 미쳤네" 누리꾼 극찬한 삼성 세탁기 광고 음악…누가 불렀나 보니        True
16998  20220601            이재용 삼성전자 부회장 주식평가액 올 들어 1.1조원 증발        True
16999  20220601            올들어 이재용 삼성전자 부회장 주식평가액 1.1조원 줄었다        True
17000  20220601      "삼성·LG 제쳤다"…1분기 노트북 시장 장악한 이 기업, 어디길래?        True
17001  20220601          '갤럭시 Z4' 기대감 커지는데…삼성 마냥 웃을 수 없는 이유        True
17002  20220601      [베스트 애널리스트 추천 종목]삼성전자, 전략 자산의 중심 ‘반도체’        True
         date                                              title
279  20220523  삼성전자, 워커힐과 함께 ‘시네마 스위트 with 삼성 더 프리미어’ ..., 라온...
280  20220524  [속보] 삼성, 반도체 등 핵심인력 확보…5년간 8만명 채용, 삼성, 5년간 8만명...
281  20220525  삼성전자, 레드햇과 차세대 메모리 SW 개발 협력, 삼성전자, 글로벌 오픈소스 기업...
282  20220526  맥스트, 삼성전자와 3억 규모 개발용역 계약, 해외 가려던 중소기업, '억대 기부'...
283  20220527  삼성전자, '특별한 갤럭시' 팬덤 마케팅으로 소통, 삼성전자 평택캠퍼스 바로 옆 지...
284  20220528  '바이든 삼성 방문'에 떠들썩…조용히 '반도체 칼' 가는 日 [강경주의..., “대...
285  20220529  삼성전자, 7400W 고화력 비스포크 인피니트 인덕션 출시, 삼성 450조, SK ...
286  20220530  삼성, MX사업부 대상 '내부진단'…"올해 스마트폰 상황 걱정", 한국은행 총재가 ...
287  20220531  '곧 좋은 소식' 예고한 삼성전자…"인수합병 진행중", 삼성·SK·현대차·LG 등 ...
288  20220601  삼성전자 머나먼 '6만전자' 탈출의 길…낮아지는 목표가, '삼성효과' 걷어내니…더 ...
                                                        title
date
2022-05-23  삼성전자, 워커힐과 함께 ‘시네마 스위트 with 삼성 더 프리미어’ ..., 라온...
2022-05-24  [속보] 삼성, 반도체 등 핵심인력 확보…5년간 8만명 채용, 삼성, 5년간 8만명...
2022-05-25  삼성전자, 레드햇과 차세대 메모리 SW 개발 협력, 삼성전자, 글로벌 오픈소스 기업...
2022-05-26  맥스트, 삼성전자와 3억 규모 개발용역 계약, 해외 가려던 중소기업, '억대 기부'...
2022-05-27  삼성전자, '특별한 갤럭시' 팬덤 마케팅으로 소통, 삼성전자 평택캠퍼스 바로 옆 지...
2022-05-28  '바이든 삼성 방문'에 떠들썩…조용히 '반도체 칼' 가는 日 [강경주의..., “대...
2022-05-29  삼성전자, 7400W 고화력 비스포크 인피니트 인덕션 출시, 삼성 450조, SK ...
2022-05-30  삼성, MX사업부 대상 '내부진단'…"올해 스마트폰 상황 걱정", 한국은행 총재가 ...
2022-05-31  '곧 좋은 소식' 예고한 삼성전자…"인수합병 진행중", 삼성·SK·현대차·LG 등 ...
2022-06-01  삼성전자 머나먼 '6만전자' 탈출의 길…낮아지는 목표가, '삼성효과' 걷어내니…더 ...
중복 데이터셋의 크기: 17003, 중복 제거한 데이터셋의 크기: 289
['20210601' '20210603' '20210604' '20210607' '20210608' '20210609'
 '20210610' '20210611' '20210613' '20210617' '20210619' '20210621'
 '20210622' '20210624' '20210625' '20210627' '20210628' '20210629'
 '20210630' '20210701' '20210702' '20210704' '20210706' '20210707'
 '20210708' '20210709' '20210711' '20210712' '20210713' '20210715'
 '20210716' '20210718' '20210719' '20210720' '20210721' '20210722'
 '20210726' '20210728' '20210729' '20210730' '20210731' '20210803'
 '20210804' '20210805' '20210811' '20210812' '20210813' '20210814'
 '20210815' '20210816' '20210817' '20210818' '20210819' '20210820'
 '20210821' '20210822' '20210823' '20210824' '20210825' '20210826'
 '20210827' '20210829' '20210830' '20210831' '20210902' '20210906'
 '20210907' '20210908' '20210909' '20210914' '20210915' '20210916'
 '20210917' '20210918' '20210922' '20210923' '20210926' '20210927'
 '20210928' '20210929' '20210930' '20211001' '20211003' '20211004'
 '20211005' '20211006' '20211007' '20211008' '20211010' '20211011'
 '20211012' '20211013' '20211014' '20211015' '20211017' '20211018'
 '20211019' '20211020' '20211021' '20211023' '20211024' '20211025'
 '20211027' '20211028' '20211029' '20211031' '20211104' '20211106'
 '20211108' '20211109' '20211111' '20211112' '20211114' '20211115'
 '20211116' '20211117' '20211118' '20211119' '20211121' '20211122'
 '20211123' '20211124' '20211125' '20211126' '20211127' '20211128'
 '20211129' '20211130' '20211201' '20211202' '20211203' '20211205'
 '20211206' '20211207' '20211208' '20211209' '20211210' '20211211'
 '20211212' '20211214' '20211215' '20211216' '20211217' '20211218'
 '20211220' '20211221' '20211222' '20211223' '20211224' '20211226'
 '20211227' '20211228' '20211229' '20220104' '20220105' '20220106'
 '20220107' '20220109' '20220110' '20220112' '20220113' '20220114'
 '20220115' '20220117' '20220118' '20220121' '20220123' '20220125'
 '20220127' '20220128' '20220130' '20220202' '20220203' '20220204'
 '20220207' '20220208' '20220209' '20220210' '20220211' '20220212'
 '20220213' '20220214' '20220215' '20220216' '20220217' '20220218'
 '20220219' '20220220' '20220221' '20220222' '20220223' '20220224'
 '20220225' '20220226' '20220227' '20220228' '20220301' '20220302'
 '20220303' '20220304' '20220305' '20220306' '20220307' '20220308'
 '20220309' '20220310' '20220311' '20220312' '20220313' '20220314'
 '20220315' '20220316' '20220317' '20220318' '20220319' '20220320'
 '20220321' '20220322' '20220323' '20220324' '20220325' '20220326'
 '20220327' '20220328' '20220329' '20220330' '20220331' '20220401'
 '20220402' '20220403' '20220404' '20220405' '20220406' '20220407'
 '20220408' '20220409' '20220410' '20220411' '20220412' '20220413'
 '20220414' '20220415' '20220416' '20220417' '20220418' '20220419'
 '20220420' '20220421' '20220422' '20220423' '20220424' '20220425'
 '20220426' '20220427' '20220428' '20220429' '20220430' '20220501'
 '20220502' '20220503' '20220504' '20220505' '20220506' '20220507'
 '20220508' '20220509' '20220510' '20220511' '20220512' '20220513'
 '20220514' '20220515' '20220516' '20220517' '20220518' '20220519'
 '20220520' '20220521' '20220522' '20220523' '20220524' '20220525'
 '20220526' '20220527' '20220528' '20220529' '20220530' '20220531'
 '20220601']